body{
    margin:0px;
    background-color: lightgray;
    font-family:Helvetica, Times, serif;
}
ul{
    list-style-type: none;
    margin:0px;
    padding:0px;
    display:flex;
    gap:15px;
    padding-right: 100px;
}
a{
    text-decoration: none;
}
.header{
    background-color: #1f2937;
    display:flex;
    flex-direction:column;
}
.header h2{
    font-size:24px;
    padding-left: 150px;
}
.header ul li a, .header p{
    font-size:18px;
    color: #e5e7eb;
}
.header h1{
    font-size:48px;
    font-weight:800;
    margin-top:0px;
}
.header h1,.header{
    color:#F9FAF8;
}
.heading{
    display:flex;
    justify-content:space-between;
    align-items:center;
}
.header button{
  padding:20px;
  background-color:#3882f6;
  border-radius: 20px;
  color:#F9FAF8;
  border:0px;
  font-size:18px;
}
.header button:hover{
    text-decoration: underline;
}
.hero{
    display:flex;
    gap:40px;
    align-items:flex-start;
    justify-content:center;
    padding:70px 100px 0px 150px;
}

.content h2{
    font-size:36px;
    font-weight:800;
    color:#1f2937;
    text-align:center;
}
.card img{
    width:250px;
    height:200px;
}
.cards{
    display:flex;
    gap:10px;
    justify-content:center;
}
.card{
    flex:0 1 250px;
    display:flex;
    flex-direction:column;
    text-align: center
}

.quote{
  padding:50px 100px 50px 150px;
  background-color:#e5e7eb;
  display:flex;
  flex-direction:column;
  gap:30px;
}
.quote q{
  font-size:32px;
  font-weight:300;
}
.quote p{
  align-self: flex-end;
  font-size: 22px;
  font-weight:700;
  margin-right:50px;
}

.action{
  background-color:#3882f6;
  margin:100px;
  padding:20px;
  color:#F9FAF8;
  font-size:20px;
  display:flex;
  justify-content:space-between;
  border-radius:25px;
}
.action h3{
    margin-top:0px;
}
.action button{
    font-size:24px;
    background-color:#3882f6;
    color:#F9FAF8;
    font-weight:bold;
    padding:30px;
    border:1px solid black;
    border-radius: 20px;
}
.action button:hover{
    text-decoration: underline;
    border:3px goldenrod solid;
}