body{
  margin:0px;
  display:flex;
  flex-direction:column;
}
.header{
  background-color: #1f2937;
  color:#f9faf8;
  display:flex;
  align-items: flex-start;
  direction:row;
  padding-bottom:50px;
}
h1{
  font-size:48px;
  font-weight:900;
}
a{
  font-size:18px;
  color:#e5e7eb;
  text-decoration:none;
}
ul{
  margin:0px;
  padding:0px;
  display:flex;
  list-style:none;
  direction:column;
}
li{
  margin-right:15px;
}
h3{
  font-size:28px;
  margin:0px;
}
p{
  font-size:18px;
  color:#e5e7eb;
}
button{
  width:auto;
  height:50px;
  color:#f9faf8;
  background-color: #3882F6;
}
img{
  margin-top:32.16px;
  width:365px;
  height:auto;
}
.header .left-half-header{
  display:flex;
  flex-flow:wrap column;
  margin-top:30px;
  margin-left:200px;
  margin-right:50px;
}
.header .right-half-header{
  flex-flow:nowrap column;
  margin-top:30px;
  flex:1,1,auto;
  margin-right:200px;
}
.middle{
  display:flex;
  flex-direction:column;
  align-items: center;
  padding-top:15px;
  padding-bottom:60px;
}
.middle .mid-heading{
  font-size:36px;
  color:#1f2937;
  font-weight: bolder;
}
.middle .mid-sub-text{
  color:black;
  text-align: center;
}
.middle .mid-image{
  width:210px;
  height:142px;
}
.middle .mid-imagesandtext{
  display:flex;
  flex-flow:row nowrap;
  margin-left:60px;
  margin-right:60px;
}
.middle .mid-imgtext-obj{
  display:flex;
  flex-flow:column wrap;
  align-items:center;
}
.middle p.mid-sub-text{
  padding-left:30px;
  padding-right:30px;
}
.quote{
  padding:50px;
  padding-left:40px;
  padding-right:40px;
  display:flex;
  flex-direction: column;
  background-color:#e5e7eb;
}
.quote em{
  color:#1f2937;
  font-size:32px;
}
.quote .quote-cite{
  align-self:flex-end;
  font-size:24px;
  color:#1f2937;
}
